/* reset */
* {margin: 0; padding: 0;}
a {text-decoration: none; color: #333;}
li {list-style: none;}
.clearfix::before, .clearfix::after {display: block; content: ''; clear: both;}

/* layout */
#wrap {width: 1000px; margin: 0 auto; padding-top: 50px;}
#aside {float: left; width: 270px;}
#contents {float: right; width: 700px;}
#footer {float: left; width: 100%; background: #edf2f8;}

/* aside */
#aside h1 {margin-bottom: 30px;}
#aside h1 img {width: 150px;}
#aside .nav {}
#aside .nav li {padding-bottom: 5px;}
#aside .nav li a {font-size: 23px;}
#aside .nav li a:hover {text-decoration: underline; } 
#aside .nav li.active a {color: rgb(62, 107, 255);}
#aside .nav li ul.submenu {display: none;}
#aside .nav li ul.submenu li {}
#aside .nav li ul.submenu li a {display: block; font-size: 20px; color: #333; padding: 10px;
    border-bottom: 1px solid #ccc;
}
#aside .nav li ul.submenu li a:hover {text-decoration: none;}

/*aside가 아래가 아닌 옆으로 나오는 경우
#aside h1 {margin-bottom: 30px;}
#aside h1 img {width: 150px;}
#aside .nav {}
#aside .nav li {position: relative; z-index: 1000; padding-bottom: 5px; background: #f1f1f1; padding: 10px;}
#aside .nav li a {font-size: 23px;}
#aside .nav li a:hover {text-decoration: underline; } 
#aside .nav li.active a {color: rgb(62, 107, 255);}
#aside .nav li ul.submenu {display: none; width: 150px; position: absolute; top: 0; right: -140px;}
#aside .nav li ul.submenu li {}
#aside .nav li ul.submenu li a {display: block; font-size: 20px; color: #333; padding: 10px;
    border-bottom: 1px solid #ccc;
}
#aside .nav li ul.submenu li a:hover {text-decoration: none;}
*/

/* contents */
/* banner */
.banner {height: 384px;}
.banner img {width: 100%; display: block;}
.slideList {width: 700px; position: relative;}
.slideList .slideImg {position: absolute; left: 0; top: 0;} /*슬라이드 이미지를 한곳에 모이게 함*/
.slideList .slideImg h2 {
    position: absolute; top: 50%; left: 50%; transform: 
    translate(-50%, -50%); background: rgba(0,0,0,0.4); padding: 10px 30px;
    border-radius: 25px;
}
.slideList .slideImg img {}

/* tab */
.tab_menu {width: 100%; height: 200px; position: relative; padding: 40px 0;}
.tab_btn ul {text-align: center;}
.tab_btn ul li {display: inline; padding-right: 5px;}
.tab_btn ul li a {font-size: 24px; font-weight: bold; color: #999;}
.tab_btn ul li.active a {color: #000;}
.tab_cont .service  {position: absolute; left: 0; top: 100px; width: 100%; overflow: hidden;}
.tab_cont .service li {width: 20%; float: left; box-sizing: border-box;} 
.tab_cont .service li a {font-size: 14px;}
.tab_cont .service li a span {display: block;}
.tab_cont .service li a img {width: 100px;}


/* layer */
.layer {background: #f7f7f7; padding: 15px;}
.layer > div {position: relative; float: left; width: 32%; 
    padding: 6% 3%; text-align: center; margin-right: 2%; background: #fff;
    border: 2px solid #ccc; box-sizing: border-box;
}
.layer > div:last-child {margin-right: 0;}
.layer > div img {width: 100px; padding: 20px 0;}
.layer > div ul li {text-align:left; padding-bottom: 5px; overflow: hidden; 
    white-space: nowrap; text-overflow: ellipsis;}
.layer > div .more {position: absolute; right: 20px; top: 20px; border: 1px solid #ccc;
    border-radius: 50%; width: calc(1em / 0.7); height: calc(1em / 0.7);
}

/* footer */
#footer {padding: 10px; box-sizing: border-box; margin-top: 20px;}
#footer h2 {float: left;}
#footer h2 img {width: 80px;}
#footer address {float: left; font-style: normal; padding: 20px 0 0 20px;}
#footer .sns {float: right; margin-top: 20px;}
#footer .sns ul {overflow: hidden;}
#footer .sns ul li {float: left; padding-bottom: 5px;}
#footer .sns ul li img {width: 60px;}